<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <title>Title</title>
</head>
<body>
<table>
<th:block th:each="val : ${greeting.data}">
    <tr>
        <td th:text="${val}"></td>
        <td><a th:href="@{/delete_person(personId=*{greeting.data.indexOf(val)})}" class="btn btn-danger">Delete</a> </td>
    </tr>
</th:block>

</table>

</body>
</html>