<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Our Movies</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">


    <link rel="stylesheet" type="text/css" th:href="@{/css/MainStyle.css}"/>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="../../static/js/admin.js" th:src="@{/js/admin.js}"></script>

    <style>
    li a{
       color: #1e1b26;
    }
</style>
</head>

<body  th:style=" 'margin-top: 15xpx; color:white; background:url(' + @{/img/zinc1.png} + ')no-repeat ;   background-size: cover; background-position: top;  width: 100%; height: 100%;' ">

<!-- NAV BAR -->


<!-- Banner -->
<nav class="bannerA">
    <div class="navBG">
        <a class="btn a" style="right:5px" th:href="@{/manageMovies}">Movies</a>
        <a class="btn a" style="right:90px" th:href="@{/ManageActors}">Actors</a>

        <img class="btn b" style="left:0px" th:src="@{/img/Logo.png}" th:href="@{/}">
        <div th:if="null==${user}" class="dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#" style="margin-right: 9px;">
                <img class="btn b" style="left:50px" th:src="@{/img/UserButton.png}">    </a>
            <ul class="dropdown-menu form-wrapper" style="width: 300px; background: none; top: 50px; ">
                <li>  <form action="#" th:action="@{/loginProcess}" th:object="${login}" method="post" style=" top:50px; background: none;">
                    <br><br>
                    <div class="form-group" style="top: 20px; " >
                        <input type="text" class="form-control" placeholder="Username" required="required" th:field="*{username}">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" required="required" th:field="*{password}">
                    </div>
                    <input type="submit" class="log" value="Login"></input>     <input type="submit" class="log" value="sign up"></input>
                    <div class="form-footer">
                        <br>
                        <a href="#" style="color: white; ">Forgot Your password?</a>
                        <hr>
                    </div>
                </form>
                </li>
            </ul>
        </div>
        <div th:if="${user}">
            <img class="" style="width: 100px; height: 70px; margin-left: 70px; margin-right: 20px;  "  th:src="${user.getUser_image()}">
            <a class="btn a"  th:href="@{/logout}">log out</a>        </div>

    </div>
</nav>
    <div style="margin-top: 50px;">
        <table class="table table-borderless text-light options" >
            <tr>
                <th><ul><li style="display: inline-block; ">
                    <div class="dropdown">
                        <button class="btn btn-outline-light dropdown-toggle" type="button" data-toggle="dropdown">Filter By Category
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu text-light" style=" color:white; background: none;">
                            <li th:each="category:${genre}"  style="color: white; background-color: rgba(50,50,50,.5);">
                                <a  class="text-light" th:text="${category}" th:href="@{/viewMovies/category(genre=${category})} " ></a>
                            </li>
                        </ul>

                    </div>
                </li>

                    <li style="display: inline-block; ">
                        <a  class="log"   th:href="@{/addMovie}"><i class="fa fa-plus-circle"  > </i></a>

                    </li>
                </ul>
                </th>

                <th><a th:href="@{/manageMovies(sort= movie_release_date)}"><i class="fa fa-calendar" style="color: white;"></i> </a></th>
                <th><a th:href="@{/manageMovies(sort= movie_title)}"><i class="fa fa-sort-alpha-asc" style="color: white;"  ></i></a> </th>
                <th> <a th:href="@{/manageMovies(sort= movie_duration)}"><i class="fa fa-clock-o" style="color: white;"></i></a> </th>
                <th>
                    <div class="input-group mb-3">

                        <input id="search" class="form-control" onkeyup="myFunction()" type="search" results="5" placeholder="Search Movies..." >
                        <div class="input-group-append">
                            <span class="input-group-text" id="basic-addon2"><i class="fa fa-search"></i></span>
                        </div>
                    </div>


                </th>
            </tr>
            <tr>
                <td colspan="5">
                    <div class="slidecontainer">
                        <p  style="display: inline-block;">ZINC Rating :  <span id="results">0</span></p>
                        <input  class="slider" id="myRange" onchange="ratingFunction(this.value)" type="range" min="0.0" max="5.0" step="1.0" value="0">

                    </div>
                </td>

            </tr>
        </table>

    </div>


</nav>

</div>

<table class="table "  id="movies" style="border-collapse: collapse; width:80%; color: white; margin: 0px auto;
    float: none; ">
    <div  th:each="movies:${movie}">
    <tr   th:id="show+${movies.getMovie_id()}">
        <th ><img with="200" width="200" th:src="${movies.getMovie_cover_image()}"/></th>
        <th>
            <h5 class="align-top" style="text-align: left" th:text="${movies.getMovie_title()}"></h5>
            <p class="align-middle" style="text-align: left" th:text="${movies.getMovie_summery()}"></p>
            <p style="float: left" >Release Date: </p>
            <p class="align-middle" style="text-align: left" th:text="${movies.getMovie_release_date()}"></p>
            <p style="float: left" >Duration: </p>
            <p class="align-middle" style="text-align: left" th:text="${movies.getMovie_duration()}"></p>
            <p class="align-middle" style="text-align: left" th:text="${movies.getMovie_duration()}"></p>
            <h4 th:text="${movies.avg_rate}" hidden></h4>
            <div th:if="${movies.avg_rate}>0">
                <i th:each="star:${#numbers.sequence(1,movies.avg_rate)}" class="fa fa-star" style="color: #fcd000"></i>
            </div>
        </th>

        <th>  <iframe width="300" height="255" th:src="@{https://www.youtube.com/embed/{url}
           (url=${movies.getMovie_trailer()})}"
                      frameborder="0" alt="no video attached" allowfullscreen="1"></iframe>
        </th>
        <th ><br> <a href="#" class="log"  style="margin: auto;" th:onclick="'javascript:editRow(\'' + ${movies.getMovie_id()} + '\');'"><i class="fa fa-edit"  > </i></a></th>
        <th ><br><a href="#" class="log"  style="margin:auto;" th:onclick="'javascript:deleteRow(\'' + ${movies.getMovie_id()} + '\');'"><i class="fa fa-trash" > </i></a></th>
    </tr>

    <tr  th:id="edit+${movies.getMovie_id()}" style="display: none; ">
        <td colspan="6">
            <form action="#" th:action="@{/editmovie(id=${movies.getMovie_id()})}" th:object="${newMovie}" method="post">
                <p class="col-md-12 font-weight-bold mb-1 mt-1">Movie Title </p>
                <input class="col-md-4 text-center" type="text" th:field="*{movie_title}" />
                <p class="col-md-12 font-weight-bold mb-1 mt-1">Movie cover </p>
                <input class="col-md-4 text-center" type="text" th:field="*{movie_cover_image}" />
                <p class="col-md-12 font-weight-bold mb-1 mt-1">Movie Summary</p>
                <textarea class="col-md-4 text-center"  th:field="*{movie_summery}" />
                <p class="col-md-12 font-weight-bold mb-1 mt-1">Movie Duration</p>
                <input class="col-md-4 text-center" type="text" th:field="*{movie_duration}" />
                <p class="col-md-12 font-weight-bold mb-1 mt-1">movie genre</p>
                <input class="col-md-4 text-center" type="text" th:field="*{movie_genre}"/>
                <p class="col-md-12 font-weight-bold mb-1 mt-1">Movie Release data </p>
                <input class="col-md-4 text-center" type="date" th:field="*{movie_release_date}" />
                <p class="col-md-12 font-weight-bold mb-1 mt-1">Movie Trailer</p>
                <input class="col-md-4 text-center"  type="text" th:field="*{movie_trailer}" />
                <br/>
        <input type="submit"  ><i class="fa fa-save" style="color: #4676bd" > </i></input>
            </form>
        </td>
    </tr>

    </div>
</table>

</body>

</html>